@import "tailwindcss";

body {
  background: #ffffff;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #1C2E4A;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  color: #1C2E4A !important;
}

p {
  font-size: 14px;
  color: #52677D;
}
